*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /* font-size: 20px;
    /* font: 400 20px 'Lato', sans-serif; */
    font: 400 20px 'Open Sans', sans-serif;
    background-color: rgb(255, 250, 253);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    margin-top: 50px;
    text-align: center;
}
p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
}
a {
    text-decoration: none;
}

#heroView {
    min-height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    color: red;
    font: 25px 'Dancing Script', cursive;
    z-index: 3;
    display: inline-block;
    position: relative;
    left: -25px;
}
.icon-heart-empty {
    font-size: 40px;
    color: #fff;
    position: relative;
    left: 15px;
    top: 9px;
}

/* hamburger */

.hamburger {
    padding: 10px 25px 10px 10px ;
    display: inline-block;
    background-color: transparent;
    border: 0;
    margin: 0;
    z-index: 3;
}
.hamburger-box {
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: '';
    transition: all .2s .2s ease-in-out;
}
.hamburger-inner::before {
    top: -8px;
}
.hamburger-inner::after {
    top: 8px;
}
.hamburger-active .hamburger-inner {
    background-color: transparent;
}
.hamburger-active .hamburger-inner::before,
.hamburger-active .hamburger-inner::after {
    background-color: rgb(255, 250, 253);
}
.hamburger-active .hamburger-inner::before {
    transform: translateY(8px) rotate(-45deg);
}
.hamburger-active .hamburger-inner::after {
    transform: translateY(-8px) rotate(45deg);
}

.navigation {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000ff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s .1s ease-in-out;
}
.navigation-active {
    opacity: 0.9;
}
.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-80vh);
    /* transition: transform .5s .1s cubic-bezier(0.61, -0.19, 0.7, -0.11); */
    transition: transform .5s .1s ease-in-out;
}
.navigation-active .nav_list {
    transform: translateY(0);
}
.nav_list a {
    color: rgb(255, 250, 253);
}

/* hero image */

.hero {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1 {
    color: red;
    font: 100px 'Dancing Script', cursive;
    z-index: 1;
    margin: 0;
}
.hero-p {
    font: 25px 'Sorts Mill Goudy', serif;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.hero i {
    margin-top: 15vh;
}

/* about us  */

.AboutUs-Container {
    padding: 20px 21px 0 21px;
}
.aboutUs-p  {
    margin: 0 0 50px 0;
}
.aboutUs,
.aboutPerson {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.aboutUs {
    margin-top: 50px;
}
.aboutPerson img {
    width: 100%
}
.aboutPerson h2 {
    font-weight: 400;
}

/* image slider  */
.slider-container {
    margin: 50px 0 0 0;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    width: 100%;
    height: 250px;
}
.slides img {
    width: 100vw;
    height: 70vw;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 47%;
    z-index: 10;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
#prevBtn {
    left: 5%;
}
#nextBtn {
    right: 5%;
}

/* services ----- */

.servicesContainer {
    padding: 20px 21px 0 21px;
}
.servicesContainer ul {
    line-height: 2;
}
.servicesContainer h4 {
    font-weight: 700;
    margin: 0;
}
.titleServices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0 10px 0 15px;
    background-color: pink;
}
.icon-down-open-mini {
    display: inline-block;
    color: red;
    font-size: 30px;
    transition: transform .2s .1s ease-in-out;
}
.icon-rotate {
    color: yellow;
    transform: rotate(180deg);
}
.services {
    background-color: rgb(255, 250, 253);
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
    max-height: 0px;
    transition: all .2s .1s ease;
    overflow: hidden;
}
.services-active {
    max-height: 1000px;
}
.eachService {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid gray;
}
.eachService span {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 6px 0 6px 0;
}
.eachService-p {
    text-align: left;
    line-height: 1.1;
    font-size: 0.95rem;
    font-weight: 600;
}
.eachService-p small {
    font-size: 0.85rem;
    font-weight: 400;
    padding-left: 10px;
    color: gray;
}
.serviceTime p{
    text-align: center;
    font-size: 0.85rem;
    margin: 10px 0 10px 0;
    color: gray;
}

/* contact */

.contactContainer {
    background-color: #1a1a1a;
    color: white;
    width: 100vw;
    padding: 0 25px 15px 25px;
    margin-top: 70px;
}
.contactContainer h2 {
    padding: 50px 0 0 0;
}
.address h4 {
    margin: 35px 0 5px 0;
    font-size: 1rem;
}
.address p {
    font-size: 1.1rem;
}
.telAndSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}
.telAndSocials ul {
    margin-top: 15px;
    align-self: flex-start;
}
.telLink,
.socialLink {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.telLink {
    margin: 25px 0 25px 0;
}
.telLink a {
    min-width: 175px;
}
.socialLink a {
    min-width: 150px;
}
.telLink a,
.socialLink a {
    padding: 7px 0 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
    transition: all 0.3s cubic-bezier(0.4, 0, 0, 1);
}
.socialName {
    font-weight: 600;
}
.telLink p {
    font-size: 1.1rem;
}
.socialLink p {
    font-size: 1rem;
}
.telLink span,
.socialLink span {
    color: gray;
    display: flex;
    align-items: center;
    transition: color 0.3s cubic-bezier(0.4, 0, 0, 1);
}
.icon-direction {
    font-size: 0.7rem;
    align-self: flex-start;
}
.telLink::before,
.socialLink::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateY(-101%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    z-index: -1;
}
.telLink:hover::before,
.socialLink:hover::before {
    transform: translateY(0);
}
.telLink a:hover,
.socialLink a:hover,
.socialLink a:hover span,
.telLink a:hover span {
    color: #000;
}
.telLink a:hover,
.socialLink a:hover {
    padding-left: 5px;
    padding-right: 5px;
}

/* footer */

.footer {
    width: 100vw;
    height: 50vh;
    background-color: #1a1a1a;
    color: #fff;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer h1 {
    color: red;
    font: 2.1rem 'Dancing Script', cursive;
    margin: 0;
    padding-top: 20px;
}
.scrollUp,
.footSocials a {
    color: #fff;
}
.footSocials {
    padding-bottom: 40px;
}
.scrollUp i {
    font-size: 1.7rem;
    cursor: pointer;
}
.footer p {
    font-size: .75rem;
    color: lightgray;
}
.footer p small {
    font-size: .55rem;
}










