.AboutUs-Container {
    padding: 20px 21px 0 21px;
    background-color: rgb(255, 250, 253);
}
.aboutUs-p  {
    margin: 0 0 50px 0;
}
.aboutUs,
.aboutPerson {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutPerson img {
    width: 100%;
    margin-bottom: 25px;
}
.aboutPerson p {
    margin-bottom: 40px;
    width: 100%;
}
.aboutPerson h2 {
    font-weight: 400;
    margin-top: 30px;
}

@media (min-width: 576px) {
    .AboutUs-Container {
        padding: 20px 27px 0 27px;
    }
}
@media (min-width: 768px) {
    .person-container {
        display: flex;
        justify-content: space-between;
    }
    .aboutPerson img {
        width: 94%;
        height: 55vw;
    }
    .aboutPerson p {
        width: 94%;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    .aboutPerson h2 {
        font-size: 1.7rem;
    }
}
@media (min-width: 1400px) {
    .AboutUs-Container {
        padding: 60px 7% 0 7%;
    }
    .aboutPerson img {
        height: 600px;
    }
}