.contactContainer {
    color: white;
    max-width: 1160px;
    padding: 0px 25px 55px 25px;
    margin: auto;
}
.address-name {
    margin-bottom: 35px;
}
.contact-p {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.address-p {
    font-size: 1.6rem;
    text-align: center;
}
.telAndSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
}
.telLink,
.socialLink {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.telLink {
    margin: 0 0 25px 0;
}
.telLink a,
.socialLink a {
    min-width: 250px;
}
.telLink a,
.socialLink a {
    padding: 7px 0 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
    transition: all 0.3s cubic-bezier(0.4, 0, 0, 1);
}
.telLink p,
.socialLink p {
    font-size: 1.2rem;
}
.telLink span,
.socialLink span {
    color: gray;
    display: flex;
    align-items: center;
    transition: color 0.3s cubic-bezier(0.4, 0, 0, 1);
}
.icon-direction {
    font-size: 0.7rem;
    align-self: flex-start;
}
.telLink::before,
.socialLink::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateY(-110%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    z-index: -1;
}
.telLink:hover::before,
.socialLink:hover::before {
    transform: translateY(0);
}
.telLink a:hover,
.socialLink a:hover,
.socialLink a:hover span,
.telLink a:hover span {
    color: #000;
}
.telLink a:hover,
.socialLink a:hover {
    padding-left: 5px;
    padding-right: 5px;
}

/* .socials-anim {
    transform: translateY(100%);
    opacity: 0;
}
.socialName {
    font-weight: 600;
    transform: translateY(-100%);
}
.address-anim {
    transform: translateX(100vw);
} */
.address-icon,
.contact-icon,
.br {
    display: none;
}

@media (min-width: 576px) {
    .contact-p {
        font-size: 1.1rem;
    }
    .address-p {
        font-size: 1.7rem;
    }
    .telLink p,
    .socialLink p {
        font-size: 1.3rem;
    }
    .telLink a,
    .socialLink a {
        min-width: 300px;
    }
}
@media (min-width: 768px) {
    .contact-p {
        letter-spacing: 2px;
    }
}
@media (min-width: 992px) {
    .contactContainer {
        max-width: 850px;
    }
    .contact-span {
        padding-left: 100px;
    }
    .address-name {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .address-p {
        margin-top: 100px;
    }
    .center {
        text-align: center;
        margin: 100px 0 50px 0;
    }
    .center-social {
        text-align: center;
        margin: 50px 0 50px 0;
    }
    .contact-icon {
        padding-right: 20px;
    }
    .address-icon,
    .contact-icon,
    .br { 
        display: unset;
    }
}
@media (min-width: 1200px) {
    .contactContainer {
        max-width: 1050px;
    }
    .contact-p {
        font-size: 1.3rem;
    }
    .address-p {
        font-size: 1.9rem;
    }
    .telLink p,
    .socialLink p {
        font-size: 1.3rem;
    }
}
@media (min-width: 1400px) {
    .address h4 {
        margin: 0 0 20px 0;
        font-size: 1.3rem;
    }
    .address p {
        margin-bottom: 0;
        font-size: 1.25rem;
    }
    .telLink a,
    .socialLink a {
        min-width: 400px;
    }
    .telLink p,
    .socialLink p {
        font-size: 1rem;
    }
    .contact-line {
        width: 900px;
        border-top: 1px solid #fff;
        align-self: center;
        margin: 80px 0 80px 0;
    }
}