.hamburger {
    padding: 10px 25px 10px 10px ;
    display: inline-block;
    background-color: transparent;
    border: 0;
    margin: 0;
    z-index: 3;
}
.hamburger-box {
    width: 25px;
    height: 20px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .2s .2s ease-in-out;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: '';
    transition: all .3s .2s ease-in-out;
}
.hamburger-inner::before {
    top: -8px;
}
.hamburger-inner::after {
    top: 8px;
}
.hamburger-active .hamburger-inner {
    background-color: transparent;
}
.hamburger-active .hamburger-inner::before,
.hamburger-active .hamburger-inner::after {
    background-color: rgb(255, 250, 253);
}
.hamburger-active .hamburger-inner::before {
    transform: translateY(8px) rotate(-45deg);
}
.hamburger-active .hamburger-inner::after {
    transform: translateY(-8px) rotate(45deg);
}

.navigation {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateY(-100%);
    transition: transform 0.8s .1s ease-in-out;
    overflow: hidden;
    border-bottom: 1px solid #fff ;
}
.navigation-active {
    opacity: 1;
    transform: translateY(0);
}
.nav_list {
    font: 2rem 'Ephesis', cursive;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-80vh);
    transition: transform .5s .1s ease-in-out;
}
.navigation-active .nav_list {
    transform: translateY(0);
}
.nav_socials {
    display: flex;
    margin-top: 65px;
}
.nav_fb {
    display: block;
    color: #3b5998;
    transform: translateX(-80vh);
    transition: all 1s .1s ease-in-out;
}
.nav_ig {
    display: block;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    transform: translateX(80vh);
    transition: all 1s .1s ease-in-out;
}
.navigation-active .nav_fb,
.navigation-active .nav_ig {
    transform: translateX(0);
}
.nav_list a {
    color: rgb(255, 250, 253);
}
.nav_socials a {
    margin: 0 7px 0 7px;
}
.nav_socials_1200px {
    display: none;
}

.nav-item1,
.nav-item2,
.nav-item3,
.nav-item4 {
    opacity: 0;
    transform: translate(-100%, 100%);
}
.nav-item1 {
    animation: navigationAnimation 0.7s forwards ease-in-out;
}
.nav-item2{
    animation: navigationAnimation 0.7s 0.1s forwards ease-in-out;
}
.nav-item3{
    animation: navigationAnimation 0.7s 0.2s forwards ease-in-out;
}
.nav-item4 {
    animation: navigationAnimation 0.7s 0.3s forwards ease-in-out;
}

@keyframes navigationAnimation {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

@media (min-width: 576px) {
    .hamburger {
        display: none;
    }
    .logo {
        display: none;
    }
    .navigation {
        height: unset;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
        background-color: transparent;
        position: unset;
        top: unset;
        left: unset;
        z-index: 0;
        transform: translateY(0);
        opacity: unset;
        overflow: unset;
        border-bottom: unset;
    }
    .navigation ul {
        display: flex;
        align-items: center;
        min-width: 100%;
    }
    .nav_socials {
        display: none;
    }
    .nav_list {
        min-width: 100%;
        list-style: none;
        margin: 0;
        padding: 0 0px 0 0;
        height: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transform: unset;
        transition: unset;
    }
    .nav_list a {
        color: #fff;
        font-size: 1.5rem;
        transition: color .3s ease-in-out;
    }
    .nav_list a:hover {
        color: #000;
        cursor: pointer;
    }
    .nav_item {
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    .nav_item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--dark);
        transform: translateX(-110%);
        transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
        z-index: -1;
    }
    .nav_item:hover::before {
        transform: translateX(0);
    }
    .nav_item a {
        padding: 0 10px 0 10px;
        transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
    }
    .nav_item a:hover {
        color: #fff;
    }
}
@media (min-width: 768px) {
    .nav_list {
        min-width: 400px;
        padding: 0 70px 0 0;
    }
    .nav_socials {
        display: flex;
        margin: 0 20px 0 0;
        font-size: 15px;
    }
    .nav_fb {
        display: block;
        color: #1a1a1a;
        transform: unset;
        transition: unset;
    }
    .nav_ig {
        display: block;
        color: #1a1a1a;
        background: unset;
        -webkit-background-clip: unset;
        background-clip: unset;
        -webkit-text-fill-color: unset;

        transform: unset;
        transition: unset;
    }
    .nav_socials a {
        margin: 0 7px 0 7px;
    }
}
@media (min-width: 1200px) {
    .nav_socials {
        display: none;
    }
    .navigation {
        width: 80%;
    }
    .nav_socials_1200px {
        display: flex;
        font-size: 17px;
        margin-left: 120px;
    }
    .nav_socials_1200px a {
        margin: 0 2px 0 2px;
    }
    .nav_list {
        font-size: 18px;
    }
    .nav_item {
        font-size: 1.2rem;
        margin: 0 10px 0 10px;
    }
}
@media (min-width: 1400px) {
    .nav_list {
        padding-right: 15vw;
    }
    .nav_item {
        font-size: 1.3rem;
    }
    .nav_socials_1200px {
        font-size: 19px;
        margin-left: 12vw;
    }
}