.heroView {
    min-height: 100vh;
    overflow: hidden;
    background: url("../images/loveme.png") no-repeat fixed center;
    background-color: var(--dark);
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #fff;
    font: 20px 'Ephesis', cursive;
    display: inline-block;
    margin-left: 25px;
}
.hero-h {
    color: #fff;
    font: 120px 'Lato', sans-serif;
    letter-spacing: 10px;
    font-weight: 900;
    z-index: 1;
    margin: 0;
    animation: heroReveal 0.5s forwards ease-in-out;
    text-align: center;
}
.hero-div {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.scrollDown {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    animation: infinite arrowMove 2s ease-in-out;
}
@keyframes arrowMove {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media (min-width: 576px) {
    .heroView {
        background: url("../images/hero2.jpg") no-repeat fixed center 100%;
        background-size: cover;
    }
    .header {
        position: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin-left: 25px;
    }
    .hero h1 {
        font-size: 95px;
    }
    .hero-p {
        font-size: 27px;
    }
    .hero i {
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    .hero {
        margin-top: 15vh;
    }
    .hero h1 {
        font-size: 100px;
        letter-spacing: 4px;
    }
    .hero-p {
        font-size: 27px;
    }
    .hero i {
        margin-top: 13vh;
    }
}
@media (min-width: 1200px) {
    .header {
        min-height: 70px;
    }
    .logo {
        position: fixed;
        z-index: 50;
        top: 20px;
        left: 20px;
        margin: 0;
    }
    .hero {
        margin-top: 25vh;
    }
    .hero h1 {
        font-size: 140px;
    }
    .hero i {
        margin-top: 0;
    }
}
@media (min-width: 1400px) {
    .hero {
        margin-top: 15vh;
    }
    .logo {
        top: 22px;
        left: 22px;
    }
    .hero h1 {
        font-size: 170px;
        letter-spacing: 4px;
    }
    .hero-p {
        font-size: 30px;
    }
}