.heroView {
    min-height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    color: red;
    font: 25px 'Dancing Script', cursive;
    display: inline-block;
    margin-left: 25px;
}
.hero {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1 {
    color: red;
    font: 100px 'Dancing Script', cursive;
    z-index: 1;
    margin: 0;
}
.hero-p {
    font: 25px 'Sorts Mill Goudy', serif;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.hero i {
    margin-top: 15vh;
}

@media (min-width: 576px) {
    .header {
        position: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header h1 {
        margin-left: 25px;
    }
    .hero h1 {
        font-size: 95px;
    }
    .hero-p {
        font-size: 27px;
    }
    .hero i {
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    .hero {
        margin-top: 15vh;
    }
    .hero h1 {
        font-size: 100px;
        letter-spacing: 4px;
    }
    .hero-p {
        font-size: 27px;
    }
    .hero i {
        margin-top: 13vh;
    }
}
@media (min-width: 1200px) {
    .heroView {
        background: url("../images/hero2.jpg") no-repeat fixed 100%;
        background-size: cover;
    }
    .header {
        min-height: 70px;
    }
    .header h1 {
        position: fixed;
        z-index: 50;
        top: 20px;
        left: 20px;
        margin: 0;
    }
    .hero {
        margin-top: 25vh;
    }
    .hero i {
        margin-top: 0;
    }
}