.servicesContainer {
    padding: 35px 21px 100px 21px;
    color: rgb(255, 250, 253);
    min-height: 400px;
    max-width: 1160px;
    margin: auto;
}
.services-header {
    font-family: 'Ephesis', cursive;
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-align: left;
    font-weight: 400;
}
.services-header-span {
    padding-right: 7px;
}
.servicesContainer ul {
    line-height: 2;
    margin-top: 55px;
}
.titleServices {
    border-bottom: 1px solid lightgray;
    padding: 0 10px 0 15px;
}
.servicesDropDown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.icon-down-open {
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    transition: transform .4s .1s ease;
}
.services-h {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}
@keyframes servicesTranslate {
    to {
        transform: translateX(0);
    }
}
.icon-rotate {
    transform: rotate(180deg);
}
.services {
    background-color: var(--dark);
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
    max-height: 0px;
    transition: all .4s .1s ease;
    overflow: hidden;
}
.services-active {
    max-height: 2000px;
}
.services ul {
    margin: 0;
}
.eachService {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid lightgray;
}
.eachService span {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 6px 0 6px 0;
}
.eachService p {
    font-size: .95rem;
}
.eachService-p {
    text-align: left;
    line-height: 1.1;
    font-size: .5rem;
    font-weight: 400;
}
.serviceTime p{
    text-align: center;
    font-size: 0.8rem;
    margin: 10px 0 10px 0;
    color: gray;
}

@media (min-width: 576px) {
    .services-header {
        font-size: 2.2rem;
    }
    .titleServices {
        padding: 0 14px 0 19px;
    }
    .icon-down-open {
        font-size: 1.3rem;
    }
    .services-h {
        font-size: 1.3rem;
    }
    .eachService p {
        font-size: 1rem;
    }
    .eachService-p {
        font-size: .6rem;
    }
}
@media (min-width: 768px) {
    .servicesWidth {
        margin: 0 5vw 0 5vw;
    }
    .servicesContainer h4 {
        font-size: 18px;
    }
    .titleServices {
        padding: 0 14px 0 19px;
    }
}
@media (min-width: 992px) {
    .servicesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .servicesWidth {
        width: 70%;
    }
    .eachService {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid lightgray;
    }
}
@media (min-width: 1200px) {
    .servicesContainer {
        position: relative;
        min-height: 600px;
    }
    .servicesContainer h2 {
        margin-bottom: 5vh;
    }
}
@media (min-width: 1400px) {
    .servicesContainer h4 {
        font-size: 20px;
    }
    .eachService p {
        font-size: 1.05rem;
    }
    .serviceTime p{
        font-size: 0.9rem;
    }
}