.slider-container {
    margin: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #fff;
}
.slider-background {
    background: linear-gradient(rgb(255, 250, 253), #17181c);
    padding-top: 25px;
    padding-bottom: 25px;
}
.slides {
    display: flex;
}
.slides img {
    width: 100vw;
    height: 70vw;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 47%;
    z-index: 10;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
#prevBtn {
    left: 5%;
}
#nextBtn {
    right: 5%;
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {
    #prevBtn,
    #nextBtn {
        font-size: 34px;
    }
}
@media (min-width: 1200px) {
    .slider-background {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .slider-container {
        width: 1198px;
        border: 2px solid #000;
        border-radius: 5px;
        -webkit-box-shadow: 15px 15px 15px 5px #17181C; 
        box-shadow: 15px 15px 15px 5px #17181C;
    }
    .slides img {
        width: 1198px;
        height: 800px;
    }
    #prevBtn,
    #nextBtn {
        font-size: 40px;
    }
}