.slider-container {
    margin: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #fff;
}
.slider-background {
    background: linear-gradient(rgb(255, 250, 253), #17181c);
    padding-top: 25px;
    padding-bottom: 25px;
}
.slides {
    display: flex;
}
.slides img {
    width: 100vw;
    height: 70vw;
}
.slider-love-me p {
    color: red;
    font: 2rem 'Dancing Script', cursive;
    font-weight: 900;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 47%;
    z-index: 10;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
#prevBtn {
    left: 5%;
}
#nextBtn {
    right: 5%;
}

@media (min-width: 576px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    .slider-background {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .slider-container {
        width: 1198px;
        overflow: hidden;
        position: relative;
        border: 2px solid #000;
        border-radius: 5px;
    }
    .slides img {
        width: 1198px;
        height: 800px;
    }
    #prevBtn,
    #nextBtn {
        font-size: 40px;

    }
}