.gallery-section {
    background-color: #FFFAFA;
    color: #000;
}
.gallery-header,
.services-header {
    font-family: 'Ephesis', cursive;
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-align: left;
    font-weight: 400;
    margin: 0 0 0 21px;
    padding: 50px 0 50px 0;
}
.gallery-header {
    color: #000;
}
.gallery-container {
    padding: 0 21px 0 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.images {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.images img {
    width: 100%;
    padding-bottom: 10px;
    border-radius: 5px;
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 1160px) {
    .gallery-container {
        flex-direction: row;
        padding-bottom: 50px;
    }
    .images {
        width: 32.5%;
    }
    .gallery-header{
        font-size: 2.5rem;
        margin: 0 0 0 70px;
    }
}