
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-up-open-big:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-mobile:before { content: '\e807'; } /* '' */
.icon-globe:before { content: '\e808'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
